@tailwind base;
@tailwind components;
@tailwind utilities;


.active hr{
        @apply block
}

::-webkit-scrollbar{
        @apply hidden
}

.header{ 
        background-image: url(../../Student//src/assets/assets_frontend/contact-header.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 30vh;
}

@media (max-width:740px) {
        .active p{
                @apply text-white bg-primary
        }
}